
@mixin border-radius($radius: 4px) {
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

@mixin border-radius-top($radius: 4px) {
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
	-moz-border-radius-topleft: $radius;
	-moz-border-radius-topright: $radius;
	-webkit-border-top-left-radius: $radius;
	-webkit-border-top-right-radius: $radius;
}

@mixin shadow($hoffset: 0px, $voffset: 0px, $size: 2px, $color: #5F5F5F) {
	box-shadow: $hoffset $voffset $size $color;
	-moz-box-shadow: $hoffset $voffset $size $color;
	-webkit-box-shadow: $hoffset $voffset $size $color;
}

@mixin default-shadow($size: 2px, $color: #5F5F5F) {
	@include shadow(0px, 0px, $size, $color);
}

@mixin opacity($value) {
	opacity: $value;
	-moz-opacity: $value;
	filter: alpha(opacity=($value * 100));
}