
$theme-autocomplete-item-border-color: #bfbfbf;
$theme-autocomplete-item-bg-color: #f8f8f8;

.ux-autocomplete-multiple-items {
	display: block;
	margin: 2px 0;
	.ux-autocomplete-multiple-item {
		background-color: $theme-autocomplete-item-bg-color;
		border: 1px solid $theme-autocomplete-item-border-color;
		color: #363636;
		font-size: 11px;
		height: 16px;
		margin: 2px 0px;
		overflow: hidden;
		padding: 3px;
		position: relative;
		vertical-align: middle;
		@include border-radius(3px);
		&:hover {
			border-color: darken($theme-autocomplete-item-border-color, 10%);
			background-color: lighten($theme-autocomplete-item-bg-color, 5%);
		}
	}
}

.ux-autocomplete-multiple-items.inline {
	.ux-autocomplete-multiple-item {
		float: left;
		margin-right: 3px;
	}
}

.ux-autocomplete-add-trigger {
	background-image: url(../images/#{$theme-name}/form/trigger-add.png) !important;
}
