.x-combo-list {
	background-color: $theme-light-color;
	border-color: darken($theme-border-color, 20%);
	@include default-font;
}

.x-combo-list-inner {
	background-color: #fff;
}

.x-combo-list-hd {
	background-image: url(../images/default/layout/panel-title-light-bg.gif);
	border-bottom-color: $theme-main-color;
	color: $theme-dark-color;
	@include font-config($theme-default-font-size, bold);
}


.x-combo-list-item {
	border-color: #fff;
}

.x-combo-list {
	.x-combo-selected {
		border-color: $theme-main-color !important;
		background-color: $theme-light-color;
	}
	.x-toolbar {
		border-top-color: $theme-main-color;
	}
}

.x-combo-list-small {
	@include default-font;
}