.x-dd-drag-ghost {
	background-color: #fff;
	border-color: #ddd #bbb #bbb #ddd;
	color: #000;
	@include default-font;
}

.x-dd-drop-nodrop .x-dd-drop-icon {
	@include icon-forbidden-16;
}

.x-dd-drop-ok .x-dd-drop-icon {
	@include icon-success-16;
}

.x-dd-drop-ok-add .x-dd-drop-icon {
	@include icon-add-16;
}