.x-dd-drag-ghost {
	background-color: #fff;
	border-color: #ddd #bbb #bbb #ddd;
	color: #000;
	@include default-font;
}

.x-dd-drop-nodrop .x-dd-drop-icon {
	background: transparent	url(../images/jnap-azure/shared/icons-general.png) no-repeat -48px 0;
}

.x-dd-drop-ok .x-dd-drop-icon {
	background: transparent	url(../images/jnap-azure/shared/icons-general.png) no-repeat -96px 0;
}

.x-dd-drop-ok-add .x-dd-drop-icon {
	background: transparent	url(../images/jnap-azure/shared/icons-general.png) no-repeat -16px 0;
}