
.x-window-dlg {
	.ext-mb-text, .x-window-header-text {
		font-size: $theme-default-font-size + 1px;
		@include default-font-family;
	}
	.ext-mb-textarea {
		@include default-font;
	}
	.x-msg-box-wait {
		background-image: url(../images/default/grid/loading.gif);
	}
	.ext-mb-info, .ext-mb-warning, .ext-mb-question, .ext-mb-info, .ext-mb-error, .ext-mb-success {
		background-image: url(../images/#{$theme-base}/window/dialog-icons.png);
		height: 32px;
		width: 32px;
	}
	.ext-mb-info {
		background-position: 0 -96px;
	}
	.ext-mb-warning {
		background-position: 0 -64px;
	}
	.ext-mb-question {
		background-position: 0 -128px;
	}
	.ext-mb-error {
		background-position: 0 0;
	}
	.ext-mb-success {
		background-position: 0 -32px;
	}
}