/*
 *
 */

// theme form variables
$theme-form-text-focus-glow-color: darken($theme-light-color, 30%) !default;
$theme-form-text-invalid-focus-glow-color: lighten($theme-invalid-color, 30%) !default;

.x-form-field {
	@include default-font;
}

.x-form-text, textarea.x-form-field {
	background-color: #fff;
	background-image: url(../images/#{$theme-base}/form/text-bg.png);
	border-color: $theme-border-color;
	border-top-color: darken($theme-border-color, 30%);
}

.x-form-select-one {
	background-color: #efefef;
	border-color: $theme-border-color;
}

.x-form-check-group-label {
	border-bottom: 1px solid $theme-border-color;
	color: $theme-dark-color;
}

.x-editor .x-form-check-wrap {
	background-color: #fff;
}

.x-form-field-wrap .x-form-trigger {
	background-image: url(../images/#{$theme-name}/form/trigger.png);
	border-bottom-color: $theme-border-color;
}

.x-trigger-wrap-focus {
	.x-form-trigger, .x-form-trigger-over {
		@include shadow(0px, 0px, 3px, $theme-form-text-focus-glow-color);
	}
}

.x-form-field-wrap {
	.x-form-date-trigger {
		background-image: url(../images/#{$theme-name}/form/trigger-date.png);
	}
	.x-form-clear-trigger {
		background-image: url(../images/#{$theme-name}/form/trigger-clear.png);
	}
	.x-form-search-trigger {
		background-image: url(../images/#{$theme-name}/form/trigger-search.png);
	}
}

.x-trigger-wrap-focus .x-form-trigger {
	border-bottom-color: $theme-main-color;
}

.x-item-disabled {
	.x-form-trigger-over, .x-form-trigger-click {
		border-bottom-color: lighten($theme-border-color, 5%);
	}
}

.x-form-focus, textarea.x-form-focus {
	border-color: $theme-main-color;
	@include shadow(0px, 0px, 3px, $theme-form-text-focus-glow-color);
}

.x-form-invalid {
	background-image: url(../images/#{$theme-base}/form/text-invalid-bg.png);
	background-position: top left;
	border-color: $theme-invalid-color;
}

textarea.x-form-invalid {
	border-color: $theme-invalid-color;
	background-position: top left;
}

.x-form-invalid {
	&.x-form-focus {
		@include shadow(0px, 0px, 3px, $theme-form-text-invalid-focus-glow-color);
	}
	&.x-form-composite {
		border: none;
		background-image: none;
		.x-form-invalid {
			background-color : #fff;
			background-image: url(../images/#{$theme-base}/form/text-invalid-bg.png);
			background-position: top left;
			border-color: $theme-invalid-color;
		}
	}
}

.x-form-inner-invalid {
	background-image: url(../images/#{$theme-base}/form/text-invalid-bg.png);
	background-position: top left;
}

.x-form-invalid-tip {
	.x-tip-tc , .x-tip-tl, .x-tip-tr, .x-tip-bc, .x-tip-bl, .x-tip-br, .x-tip-ml, .x-tip-mr {
		background-image: url(../images/default/form/error-tip-corners.gif);
	}
	.x-tip-body {
		@include icon-invalid-16;
	}
}

.x-form-grow-sizer {
	@include default-font;
}

.x-form-item {
	@include default-font;
	label {
		font-weight: bold;
		color: lighten($theme-default-text-color, 5%);
	}
}

.x-form-invalid-msg {
	color: $theme-invalid-color;
	@include icon-invalid-16;
	@include default-font;
}

.x-form-empty-field {
	color: gray;
}

.x-small-editor .x-form-field,.ext-webkit .x-small-editor .x-form-field	{
	@include default-font;
}

.x-form-invalid-icon {
	height: 16px;
	width: 16px;
	@include icon-invalid-16;
}

.x-fieldset {
	background-color: #fcfcfc;
	border-color: $theme-border-color;
	@include border-radius(4px);
}

.x-fieldset legend {
	@include default-font;
	font-weight: bold;
	color: $theme-dark-color;
}
