/*
 *
 */

$theme-default-font-family: tahoma, arial, helvetica, sans-serif !default;
$theme-default-font-size: 11px !default;
$theme-base: "jnap-base";

@mixin default-font-family {
	font-family: $theme-default-font-family;
}

@mixin default-font-style {
	font-size: $theme-default-font-size;
	font-weight: normal;
}

@mixin default-font {
	@include default-font-family;
	@include default-font-style;
}

@mixin font-config($size, $weight) {
	@include default-font-family;
	font-size: $size;
	font-weight: $weight;
}

@import "_base", "icons", "autocomplete", "box", "button", "carousel", "combo", "core", "date-picker", "dd";
@import "dialog", "editor", "form", "form-extra", "grid", "imagebox", "layout", "list-view", "menu";
@import "notification-msg", "panel", "progress", "qtips", "rating", "resizable", "slider";
@import "tabs", "tagcloud", "toolbar", "tree", "upload", "window";
