/*
 *
 */

$default-font-size: 11px;
$theme-base: jnap-base;

@mixin default-font-family {
	font-family: tahoma, arial, helvetica, sans-serif;
}

@mixin default-font-style {
	font-size: $default-font-size;
	font-weight: normal;
}

@mixin default-font {
	@include default-font-family;
	@include default-font-style;
}

@import "_base", "icons", "button", "carousel", "form", "grid", "imagebox", "notificationmessage";
@import "panel", "rating", "tree", "upload", "window";