
.x-window-proxy {
	background-color: #E8E8E8;
	border-color: $theme-border-color;
}

.x-window-tl .x-window-header {
	color: $theme-default-text-color;
	line-height: 20px;
	@include font-config($theme-default-font-size + 1px, bold);
}

.x-window-tc {
	background-image: url(../images/#{$theme-base}/window/top-bottom.png);
}

.x-window-tl {
	background-image: url(../images/#{$theme-base}/window/left-corners.png);
}

.x-window-tr {
	background-image: url(../images/#{$theme-base}/window/right-corners.png);
}

.x-window-bc {
	background-image: url(../images/#{$theme-base}/window/top-bottom.png);
}

.x-window-bl {
	background-image: url(../images/#{$theme-base}/window/left-corners.png);
}

.x-window-br {
	background-image: url(../images/#{$theme-base}/window/right-corners.png);
}

.x-window-mc {
	background-color: #fff;
	border-color: $theme-border-color;
	@include default-font;
}

.x-window-ml {
	background-image: url(../images/#{$theme-base}/window/left-right.png);
}

.x-window-mr {
	background-image: url(../images/#{$theme-base}/window/left-right.png);
}

.x-window-maximized .x-window-tc {
	background-color: #fff;
}

.x-window-bbar .x-toolbar {
	border-top-color: $theme-border-color;
}

.x-panel-ghost .x-window-tl {
	border-bottom-color: $theme-border-color;
}

.x-panel-collapsed .x-window-tl {
	border-bottom-color: $theme-border-color;
}

.x-dlg-mask {
	background-color: #ccc;
}

.x-window-plain .x-window-mc {
	border-color: $theme-border-color #f7f7f7 #f7f7f7 $theme-border-color;
}

.x-window-plain .x-window-body {
	border: 1px solid $theme-border-color !important;
	background: #fff !important;
}

body.x-body-masked .x-window-plain .x-window-mc {
	background-color: #dfdfdf;
}
